[server]
host = "0.0.0.0"
port = 8081

[database]
db_type = "sqlite"
path = "./data/db.sqlite"
max_connections = 100
min_connections = 3

# [tls]
# enabled = "default"
# cert_path = "./cert.pem"
# key_path = "./key.pem"
